@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;400&family=Quicksand:wght@600&family=Spectral&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    align-items: center;
    background-color: rgb(235, 233, 233);
    position: relative;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    /* margin-bottom: 90%; */
}

.logo {
    background-image: url(Images/logo3\(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 65px;
    margin-left: 5px;
}

.desktop-main-menu {
    padding-top: 12px;
}

.desktop-main-menu>ul {
    display: flex;
    margin-left: 55px;
    font-size: 15px;
    padding: 5px 16px 0px 16px;
    letter-spacing: 0.9pt;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

#dropdownMenuButton li {
    list-style: none;
    position: absolute;
    right: 20px;
    top: 18px;
}
.dropdown-menu.show {
    margin-left: 35px ;
}

#dropdownMenuButton li a:hover {
    color: rgb(55, 3, 3);
}

.desktop-main-menu>ul>li:nth-child(7) {
    position: absolute;
    right: 0px;
}

.desktop-main-menu>ul>li {
    font-weight: 800;
    list-style: none;
}

.desktop-main-menu>ul>li>a:hover {
    color: rgb(55, 3, 3) !important;
}

.desktop-main-menu>ul>li:nth-child(2) {
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

.item {
    margin: 0px 10px;
    color: rgb(55, 3, 3);
}

.fa-circle-user {
    font-size: 30px;
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    height: auto;
}

.header-icons {
    height: 140px;
    width: 135px;
    background-color: #faf6f8;
    border: 1px solid #9c5e5e64;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    box-shadow: rgb(56 55 55 / 35%) 0px 5px 15px;
}

.header-icons:hover {
    box-shadow: rgb(56 55 55 / 35%) 3px 3px 2px 0px;
    transform: translate(-8px, -8px);
}

.icon-image {
    height: 60px;
    width: 60px;
    margin-bottom: 15px;
}

.icon1 {
    height: 100%;
    width: 100%;
    margin-top: 15px;
}

.icon2 {
    height: 90%;
    width: 90%;
    margin-left: 11px;
    margin-top: 15px;
}

.icon3 {
    height: 90%;
    width: 90%;
    margin-left: 11px;
    margin-top: 15px;
}

.icon4 {
    height: 90%;
    width: 90%;
    margin-left: 11px;
    margin-top: 15px;
}

.icon5 {
    height: 80%;
    width: 80%;
    margin-left: 12px;
    margin-top: 25px;
}

.icon-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 0.5pt;
    margin: 10px;
    padding: 3px;
}

.last-text {
    margin-left: 20px;
}

.consult-container {
    margin: 35px auto;
    padding: 30px 45px;
    clear: both;
    border-radius: 50px;
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(56 55 55 / 35%) 0px 5px 15px;
}

.consult-content {
    width: 65%;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.consult-button {
    width: 30%;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 0px 0 5px 1px rgb(24 24 24 / 45%);
    height: 50px;
}

.consult-button:hover {
    box-shadow: 3px 3px 2px 0px rgb(56 55 55 / 35%);
    transform: translate(5px, -5px);
}

.button-text {
    margin-top: 16px;
    margin-left: 20px;
    font-size: 16px;
    color: #337ab7;
}

.button-icon {
    width: 35px;
    float: right;
    margin: -21px 22px;
}

.mega-menu {
    position: absolute;
    top: 100%;
    left: 360px;
    width: 55%;
    height: 425px;
     box-shadow: rgb(56 55 55 / 35%) 0px 5px 0px 3px;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    background-color: white;
    text-transform: capitalize;
    transition: 0.5s;
    z-index: 2;
}

.desktop-main-menu ul li:hover .mega-menu {
    opacity: 1;
    visibility: visible;
}

.mega-menu-items ul li {
    list-style: none;
    padding: 7px;
    padding-top: 0px;
    height: 40px;
    margin-top: -3px;
}
.mega-menu-items ul li a{
      color: black; 
}
.mega-menu-items ul li:hover {
    transform: translateX(15px);
    transition: 0.8s;
}

.mega-menu-items h2 {
    padding: 10px 5px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: rgb(55, 3, 3);
}

.mega-menu-items {
    flex-basis: 30%;
    margin-left: 25px;
    font-weight: normal;
    font-size: 16px;
}

.mega-menu-items img {
    height: 30px;
    width: 35px;
    margin-right: 8px;
    margin-top: -5px;
}

.mega-menu-items:nth-child(2) {
    max-width: 0.6%;
    background-color:rgb(56 55 55 / 35%);
    margin-left: 0px;
    height: 230px;
    margin-top: 14%;
    border-radius: 100%;
    margin-right: 50px;
}

.mega-menu-items:nth-child(4) {
    margin-left: -10px;
    margin-top: 30px;
}

.sub-item {
    padding: 10px;
}

.sub-item:nth-child(1) {
    margin-top: 45px;
}

.downward-arrow {
    height: 20px;
    width: 20px;
    position: absolute;
}

.carousel-container {
    background-color: white;
    width: 100%;
    height: 20vw;
    overflow: hidden;
    position: relative;
    margin-top: 45px;
}

.carousel-container:before,
.carousel-container:after {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.carousel-container:before {
    left: 0;
    background: linear-gradient(to right, rgba(57, 8, 8, 0.500) 0%, transparent 100%);
}

.carousel-container:after {
    right: 0;
    background: linear-gradient(to left, rgba(57, 8, 8, 0.500) 0%, transparent 100%);
}

.marquee-content {
    display: flex;
    list-style: none;
    height: 100%;
    animation: scrolling 13s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-210vw);
    }
}

.marquee-content li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 35vw;
    flex-shrink: 0;
    white-space: nowrap;
    margin-right: 8px;
    border-radius: 5px;
}

.marquee-images {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.marquee-image1 {
    background-image: url('Images/CarouselImages/Image1.jpg');
}

.marquee-image2 {
    background-image: url('Images/CarouselImages/Image2.jpg');
}

.marquee-image3 {
    background-image: url('Images/CarouselImages/Image3.jpg');
}

.marquee-image4 {
    background-image: url('Images/CarouselImages/Image4.jpg');
}

.marquee-image5 {
    background-image: url('Images/CarouselImages/Image5.jpg');
}

.marquee-image6 {
    background-image: url('Images/CarouselImages/Image6.jpg');
}

.marquee-image7 {
    background-image: url('Images/CarouselImages/Image7.jpg');
}

.marquee-image8 {
    background-image: url('Images/CarouselImages/Image8.jpg');
}

.marquee-content:hover {
    animation-play-state: paused;
}

/* ==================================================  LOGIN PART  ====================================== */

.container-fluid {
    display: flex;
    padding: 70px 150px !important;
    height: 100vh;
}

.image-container {
    width: 50%;
    height: auto;
    background-image: url('../Images/LoginPageImages/wallpaper3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -20px;
}
.fa-user-plus{
    font-size: 50px;
    color: #061f0cb9;
}
.user-login{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 35px;
       font-family: 'Quicksand', sans-serif;
}


.form-container {
    position: relative;
    padding: 50px;
    padding-top: 50px;
    width: 50%;
    background-color: #4866344a;
}

.form-check {
    padding-left: 2.25rem !important;
    font-size: 14px;
}

.form-group {
    margin-bottom: 1.5rem !important;
    border: none;
}

.login-button {
    position: absolute;
    right: 30px;
    margin-right: 33px;
    margin-top: -50px;
    width: 80px;
}

.texts {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 0px 15px;
    margin-top: 35px;
}

.texts a {
    color: #185fdbf9 !important;
}

.devider {
    display: flex;
    justify-content: center;
    margin: 35px 0px;
}

.devider p {
    margin: 0px 25px;
}

.line {
    height: 0px;
    width: 30%;
    border: 1px solid #62606042;
    margin-top: 13px;
}

.login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    /* border: 1px solid rgb(25, 14, 232); */
    border-radius: 3px;
    padding: 0px 0px;
    margin: 10px 0px;
    text-transform: uppercase;
}

.option:nth-child(1) .text-box {
    padding: 8px 12px;
}

.option:nth-child(1) .icon-box {
    padding-left: 17px;
}

.option a {
    display: flex;
}

.icon-box {
    /* border: 1px solid purple; */
    border-right: none;
    padding-top: 9px;
    padding-left: 13px;
    height: 40px;
    width: 50px;
}

.text-box {
    /* border: 1px solid blue; */
    border-left: none;
    background-color: #3b5997;
    color: white;
    text-align: left;
    padding: 8px 20px;
    height: 40px;
}

.fa-facebook-f {
    color: white;
    text-align: center;
    font-size: 23px;
}

.fa-twitter {
    color: white;
    text-align: center;
    font-size: 23px;
}

.fa-google {
    color: white;
    text-align: center;
    font-size: 23px;
}

.Facebook-icon {
    background-color: #315397;
}

.t-box {
    background-color: #367c98;
}

.Google-icon {
    background-color: #9b4541;
}

.Facebook-text {
    background-color: #3b5997;
}

.Twitter-text {
    background-color: #06abed;
}

.Google-text {
    background-color: #f64136;
}

.option a {
    color: white !important;
}